#root #events
  padding: 0
  display: flex
  flex-direction: row-reverse
  height: 100%
  width: 100%
  overflow: hidden

  .main
    flex: 1 1 auto
    min-height: 0
    min-width: 0
    max-height: 100%
    max-width: 100%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    .event-card
      flex: 1 1 auto
      display: flex
      justify-content: center
      max-width: 100%
      max-height: 100%
      img, video
        max-width: 100%
        max-height: 100%
        flex: 1 1 auto
        object-fit: contain
    .alert
      color: #d72

  .bar
    flex: 0 0 auto
    display: flex
    flex-direction: column

    .actions
      // background-color: #101e24
      flex: 0 0 auto
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center

      .icon
        border: 1px solid #444
        cursor: pointer
        height: 26px
        width: 26px
        margin: 10px 5px
        line-height: 26px
        text-align: center
        vertical-align: middle

    .thumbs
      flex: 1 1 auto
      display: flex
      flex-direction: column
      min-width: 0
      overflow: hidden scroll

      &::-webkit-scrollbar
        height: 8px
        width: 8px
      &::-webkit-scrollbar-track
        background-color: #222
      &::-webkit-scrollbar-thumb
        background-color: #444

    .event-card
      border: 1px solid #444
      cursor: pointer
      display: flex
      flex: 0 0 auto
      position: relative
      margin: 10px
      height: 108px
      width: 192px

      + .event-card
        margin-top: 0

      &:first-child
        margin-top: 0

      img, video
        flex: 1 1 auto
        min-width: 0
        min-height: 0
        object-fit: cover

      .overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: flex
        align-items: center
        justify-content: center
        .icon-play
          font-size: 200%

      &.active
        border: 1px solid #ccc

  @media (max-aspect-ratio: 4/3)
    flex-direction: column
    .bar
      flex-direction: row
      .actions
        display: grid
        align-content: center
        grid-template-columns: auto auto
        .icon
          margin: 5px
      .thumbs
        flex-direction: row
        overflow: scroll hidden
        &::before, &::after
          content: ''
          display: inline-block
          flex: 0 0 auto
          height: 1px
          width: calc(50vw - 96px)
      .event-card + .event-card,
      .event-card:first-child
        margin-top: 10px
        margin-left: 0
