#events
  overflow-x: hidden
  overflow-y: auto

  .event-card
    display: inline-block
    position: relative
    margin-right: 10px
    margin-bottom: 10px

    img, video
      width: 360px
      max-width: 100%

    .overlay
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      display: flex
      align-items: center
      justify-content: center
      .icon-play
        font-size: 300%
