#top-bar
  align-items: center
  background-color: #101e24
  display: flex
  padding: 10px

  h1
    font-size: 120%
    margin: 0 30px 0 0

  a
    margin: 0 5px

    .icon
      margin: 0 6px

    &.active .label
      border-bottom: 1px solid #e1e1e1

    @media (max-width: 640px)
      .label
        display: none
