#timeline
  display: flex
  flex-direction: column
  align-items: stretch
  max-height: \min(40vh, 236px)

  #controls
    background-color: #202534
    flex: 0 0 30px
    line-height: 30px
    display: flex
    justify-content: space-between
    user-select: none

  .legend
    background-color: #0f1d32
    border-right: 1px solid #5a5f68
    flex: 0 0 100px

  .lines
    background-color: #202534
    flex: 1 1 auto
    position: relative
    overflow: hidden

  #scale
    flex: 0 0 30px
    display: flex
    user-select: none
    .lines
      background-color: #171924
      border-bottom: 1px solid #fff
      overflow: hidden
      pointer-events: none
      .scale-entry
        position: absolute
        font-size: 10px
        &.major
          color: #5dbaf8
        &.minor
          top: 10px
      .scale-mark
        border-left: 1px solid #fff
        bottom: 0
        position: absolute
        &.high
          height: 8px
        &.low
          height: 3px
      .needle
        position: absolute
        bottom: 0
        width: 0
        height: 0
        border-left: 8px solid transparent
        border-right: 8px solid transparent
        border-top: 8px solid #f00
        margin-left: -8px
    .legend
      border-bottom: 1px solid #555

  #layers
    background-color: #171924
    flex: 1 1 auto
    display: flex
    align-items: flex-start
    min-height: 41px
    overflow: auto
    touch-action: none

    &.placeholder
      height: 41px
      overflow: hidden
      .loading:before
        height: 32px
        width: 32px
        margin: 4px

    &::-webkit-scrollbar
      width: 8px
    &::-webkit-scrollbar-track
      background-color: #222
    &::-webkit-scrollbar-thumb
      background-color: #333

    .needle
      position: absolute
      top: 0
      bottom: 0
      border-left: 1px solid #f00
      pointer-events: none
      user-select: none

    .lines
      user-select: none


  .layer-entry
    border-bottom: 1px solid #555
    height: 40px
    line-height: 40px
    overflow: hidden
    padding-left: 10px

  .legend .layer-entry.active
    background-color: #2c405e
  .lines .layer-entry.active
    background-color: #393b3c

  .lines .layer-entry
    position: relative

    .video-block
      background-color: #88f
      position: absolute
      height: 30px
      top: 5px

  .button
    border: 1px solid #5a5f68
    cursor: pointer
    display: inline-block
    margin: 5px
    text-align: center
    width: 30px
    height: 30px
    line-height: 30px

    &.disabled
      cursor: not-allowed
      pointer-events: none
      background-color: #1b1c1c
